PORT=5000
MONGO_URI=<Your MongoDB Connection URI goes here>
DB_NAME=expense_track_db
JWT_SECRET=<Your JWT Secret goes here>
CLOUDINARY_CLOUD_NAME=<Your Cloudinary Cloud Name goes here>
CLOUDINARY_API_KEY=<Your Cloudinary API Key goes here>
CLOUDINARY_API_SECRET=<Your Cloudinary API Secret goes here>
OPENROUTER_API_KEY=<your_openrouter_api_key>
OPENROUTER_MODEL=<your_openrouter_model>